<!DOCTYPE html>

<html>

    <head>
        <link rel='stylesheet' href='css/styles.css'>
        <link rel='icon' href='/img/weather.png'
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
             <img class='portrait' src ='img/robot.png'>
             <p>this website uses the mapbox and the weatherstack api to fetch weather data</p>
        </div>
 
        {{>footer}}
    </body>

</html>